.offer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 1.51rem;
  background-color: var(--primary-darkest);
}

.stars {
  width: 100%;
  background-color: var(--primary-darker);
  border: 0.15rem solid var(--secondary-main);
  display: flex;
  align-items: center;
  justify-content: center;
}

.star {
  margin: 0.5rem;
  width: 2.3rem;
}

.price {
  width: 100%;
  background-color: var(--primary-main);
  color: var(--primary-lightest);
}
