@use "styles/breakpoints" as bkp;

.container {

}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 7rem;
  @include bkp.for-tablet-landscape-up {
    flex-direction: row;
  }
  @include bkp.for-desktop-up {
    padding: 0 4rem;
  }
}

.headers {
  padding: 1rem 0;
  margin-bottom: 1rem;

}

.heading {
  color: var(--secondary-main);
  font-size: 36px;
  @include bkp.for-tablet-landscape-up {
    font-size: 46px;
  }
}

.image {
  margin: auto;
  @include bkp.for-tablet-portrait-only {
    padding: 2rem;
  }
}

.caption {
  font-weight: 400;
  padding-bottom: 1rem;
  color: white;
  max-width: 400px;
}

.search {
  text-align: center;
  margin-bottom: 7rem;

  h1 {
    color: white;
    font-size: 36px;
    @include bkp.for-phone-only {
      font-size: 26px;
    }
  }

  input {
    @include bkp.for-tablet-portrait-up {
      font-size: 20px;
      width: 70%;
    }
    width: 90%;
    font-size: 18px;
    border-radius: 50px;
    height: 3rem;
    outline: none;
    border: none;
    padding: 0 2rem;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 1.5rem;
  }
}

.about {
  text-align: center;
  color: white;
  margin-bottom: 7rem;

  h1 {
    font-size: 36px;
  }

  p {
    max-width: 700px;
    margin: auto;
    font-size: 18px;
    line-height: 2;
  }
}

.customers {
  text-align: center;

  .title {
    color: var(--secondary-main);

    font-size: 44px;
    @include bkp.for-phone-only {
      font-size: 38px;
    }
  }

  .description {
    color: white;
    font-size: 18px;
    margin: 0 auto 2rem;
    line-height: 2;
    max-width: 65%;
    @include bkp.for-phone-only {
      max-width: 85%;;
    }
  }

  img {
    border-radius: 4px;
  }
}

.plans {
  text-align: center;
  margin: 4rem 0;

  img {
    border-radius: 4px;

  }
}

.blogs {

  h1 {
    text-align: center;
    margin-bottom: 3rem;
    @include bkp.for-tablet-landscape-up {
      font-size: 38px;
    }
  }

  @include bkp.for-tablet-landscape-up {

    padding: 0 3rem;
  }
  @include bkp.for-desktop-up {

    padding: 0 6rem;
  }

  .blogContainer {
    display: flex;


    flex-direction: column;
    @media (min-width: 700px) {
      flex-direction: row;
    }
  }
}

.callToAction {
  margin: 7rem 0;
  padding: 0 5rem;
  text-align: center;

  h1 {
    margin-bottom: 3rem;
    @include bkp.for-phone-only {
      font-size: 26px;
    }
  }

  a {
    width: 10rem;
    display: block;
  }
}