:root {
  --primary-darkest: #1f2023;
  --primary-darker: #212427;
  --primary-dark: #26282b;
  --primary-main: #33363a;
  --primary-light: #3b3b3b;
  --primary-lighter: #707070;
  --primary-lightest: #b5b5b6;

  --secondary-main: #39ddc9;
  --secondary-light: #55e2d0;

  --black: #0c0c0c;
}
