@import 'palette.css';

@font-face {
  font-family: 'shabnam';
  src: url('./assets/fonts/Shabnam.ttf');
}

@font-face {
  font-family: 'shabnam-bold';
  src: url('./assets/fonts/Shabnam-Bold.ttf');
}

@font-face {
  font-family: 'shabnam-light';
  src: url('./assets/fonts/Shabnam-Light.ttf');
}
:root {
  caret-color: var(--primary-lightest);
}
* {
  padding: 0;
  margin: 0;
  font-size: 1em;
  box-sizing: border-box;
  font-family: 'shabnam';
}
