.submit, .google {
  margin: 1.5rem 0;
}

.google {
  * {
    border-radius: 30px !important;
  }

  div {
    margin: 2px 0 0 0 !important;
  }

}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin-right: .5rem;
  }

  a {
    text-decoration: underline;
    color: var(--secondary-main);
    font-size: 16px;
  }
}

.termOfUse {
  max-width: 80%;
  margin: auto;
}