@use "styles/breakpoints" as bkp;

.customer {
  color: white;
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  @include bkp.for-phone-only {
    flex-direction: column;
    align-items: center;
  }

  h1 {
    @include bkp.for-phone-only{
      font-size: 26px;
    }
    color: var(--secondary-main);

  }

  div {
    padding-left: 1rem;
    @include bkp.for-tablet-portrait-up {
      max-width: 40%;
    }
    @include bkp.for-tablet-landscape-up {
      padding-left: 2rem;
    }
  }
}