.login__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login {
  margin: 3rem 0;
}
.login__heading {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.login__heading h1 {
  font-weight: initial;
  text-align: right;
  font-size: 1.5em;
  white-space: nowrap;
}
.login__heading span {
  background-color: var(--primary-main);
  height: 0.2rem;
  position: relative;
  width: 88%;
}

.login__heading span::after {
  position: absolute;
  transform: translateY(-40%) scale(0.6);
  transform-origin: center right;
  top: 50%;
  right: 0;
  content: url('../../assets/icons/dotPrimaryMain.png');
}

.login__icon {
  transform: scale(0.7);
  transform-origin: center;
  filter: brightness(0.5);
  margin: auto;
}
.login__form {
  display: flex;
  flex-direction: column;
  padding: 1rem 5rem;
  background: linear-gradient(
    -45deg,
    #222326,
    var(--primary-darkest)
  );
  box-shadow: 0px 0px 6px 1px var(--primary-darkest);
}
.login__btn {
  margin: 2rem 0;
}
.login__OAuth {
  transition: .35s!important;

  box-shadow: 0px 0px 6px 1px var(--primary-darkest)!important;
  background: linear-gradient(
    -45deg,
    #222326,
    var(--primary-darkest)
  )!important;
  display: flex!important;
  align-items: center!important;
  text-align: center!important;
  border: none!important;
  color: inherit!important;
  cursor: pointer!important;
  padding: 1.5rem!important;
  margin-top: 2rem!important;
  width: 100%!important;
  font-size: inherit!important;
  display: flex!important;
  justify-content: space-around;
}
.login__OAuth svg{
  transform: scale(3.7);
  fill-opacity: .4;
}
.login__OAuth div{
  background-color: var(--primary-darkest)!important;
  padding: .7rem 1rem!important;
  margin: 10px!important;

}
.login__OAuth p {
  margin-left: 1rem!important;
  color: var(--primary-lighter);
}

.login__OAuth:hover {
  transition: .35s;
  filter: brightness(1.01);
}

.googleIcon {
  width: 4rem;
}

.login__OAuth:hover {
  filter: brightness(1.1);
}

.login__login {
  margin: 1rem 0;
  text-align: right;
}
