.dropdown.dropdown--hidden {
  visibility: hidden;
  max-height: 0px;
}
.dropdown {
  transition: max-height 700ms ease-in-out;
  max-height: 20rem;
  overflow: hidden;
  direction: rtl;
  width: 200%;
  filter: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--primary-dark);
}

.drpodown-item {
  width: 100%;
  padding: 0.5rem;
}

.drpodown-item:hover {
  color: var(--primary-darkest);
  background-color: var(--primary-lightest);
}
