.dropdown.dropdown--hidden {
  transition: 300ms ease-out;
  visibility: hidden;
  max-height: 0px;
}
.dropdown {
  transition: max-height 700ms ease-in-out;
  max-height: 20rem;
  overflow: hidden;
  direction: rtl;
  width: 10rem;
  filter: none;
  position: absolute;
  top: 100%;

  background-color: var(--primary-darkest);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.drpodown-item {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
}
.item-dropmenu{
  padding: 0.8rem 0.8rem;
  width: 100%;
}

.drpodown-item:hover {
  color: var(--primary-darkest);
  background-color: var(--primary-lighter);
}
