@use "styles/breakpoints" as bkp;

.post {
  margin: 1rem 0;


}

.info {
  display: flex;
  align-items: center;

  div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  h4 {
    padding: 0;
    color: #f5f5f5;

    @include bkp.for-tablet-portrait-up {
      margin: .5rem;
    }
  }

  p {
    font-size: 14px;
  }


  img {
    border-radius: 50%;
  }

}

.content {
  max-width: 78%;

  p {
    text-align: left;
    @include bkp.for-tablet-landscape-up {
      min-width: 30rem;
    }
  }
}

.icons {
  display: flex;
  align-items: center;
}

.number {
  display: flex;
  justify-content: center;
  position: relative;
  align-content: center;

  p {
    font-size: 15px;
    position: absolute;
  }
}

.usernameAndTime {
  flex-direction: column;

  @include bkp.for-tablet-portrait-up {
    flex-direction: row;
  }
}
