.forgetPassword {
  margin: 2rem 0;
  text-align: right;

  a {
    text-decoration: underline;
  }
}


.cta {
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin-right: .5rem;
  }

  a {
    text-decoration: underline;
    color: var(--secondary-main);
    font-size: 16px;
  }
}
