@use "styles/breakpoints" as bkp;

.container {
  display: flex;
  flex-direction: column;
  @include bkp.for-tablet-landscape-up {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.profile {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  //border: solid 1.5px rgb(123, 123, 123);
  padding: 1.5rem;

  img {
    border-radius: 50%;
  }
  @include bkp.for-tablet-landscape-up {
    width: 40%;
  }
}
.tabs{
  display: flex;
  justify-content: space-evenly;
  @include bkp.for-tablet-landscape-up {
    width: 60%;
  }
}