.nav-item {
  position: relative;
  padding: 0 3.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: color 400ms ease-in-out;
}
.nav-item:first-child {
  padding-right: 0;
}

.nav-item:hover,
.nav-item.nav-item--open {
  
  color: var(--primary-lightest);
}
