.landing {
  display: flex;
  flex-direction: column;
}

.top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  background-color: var(--primary-darker);
}
.dummy-video-image {
  box-shadow: 0 0 0.5rem 0.25rem var(--primary-main);
  position: relative;
  border-radius: 0.5rem;
  height: 15.6rem;
  overflow: hidden;
}
.dummy-video-image img {
  width: 25rem;
  height: 100%;
}

.dummy-video-image::before {
  content: url('../../assets/icons/playVideoIcon.png');
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-darkest);
  opacity: 0.8;
}

.dummy-video-image::after {
  content: '';
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
  background-color: white;
  position: absolute;
  left: 48.5%;
  top: 49%;
  opacity: 0.3;
  transform: translate(-50%, -50%);
  transform-origin: center center;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.board {
  position: relative;
  font-size: 1.5em;
  padding: 2.75rem;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='24' ry='24' stroke='%233B3B3BFF' stroke-width='8' stroke-dasharray='6%2c 14' stroke-dashoffset='24' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 1.5rem;
}

.board::before {
  content: url('../../assets/images/arrowLine.png');
  position: absolute;
  right: 98%;
  bottom: 10%;
  transform: rotate(-10deg) scaleX(0.8);
}

.board::after {
  content: url('../../assets/images/arrowHead.png');
  position: absolute;
  right: 140%;
  bottom: 109%;
  transform: rotate(-10deg);
}

.board__btn {
  margin-top: 2rem;
}

.middle-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-dark);
  padding: 3rem;
}

.middle-content__heading {
  text-align: center;
  font-size: 1.75em;
  margin-bottom: 2.5rem;
}

.search-bar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.search-btn {
  margin-right: 1.25rem;
}

.about-patreon {
  position: relative;
  margin: 0 17rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-patreon__heading {
  position: absolute;
  top: 0;
  color: var(--primary-lightest);
  font-size: 2em;
}
.about-patreon__text {
  position: relative;
  border: 0.2rem solid var(--primary-main);
  border-top: none;
  line-height: 2.5rem;
  text-align: center;
  padding: 1.5rem;
  padding-top: 2rem;
  margin-top: 2rem;
}

.about-patreon__text::before {
  content: '';
  position: absolute;
  text-align: right;
  top: 0;
  left: 0;
  width: 27%;
  border-top: 0.2rem solid var(--primary-main);
}

.about-patreon__text::after {
  content: '';
  position: absolute;
  text-align: right;
  top: 0;
  right: 0;
  width: 27%;
  border-top: 0.2rem solid var(--primary-main);
}

.pseudo-element {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

.pseudo-element::before {
  content: url('../../assets/icons/dotPrimaryMain.png');
  position: absolute;
  left: 27%;
  top: -0.2rem;
  transform: translate(-1rem, -25%) scale(0.6);
}
.pseudo-element::after {
  content: url('../../assets/icons/dotPrimaryMain.png');
  position: absolute;
  right: 27%;
  top: -0.2rem;
  transform: translate(1rem, -25%) scale(0.6);
}

.comments {
  padding: 0.5rem 10rem;
}

.patreon-usage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.patreon-usage__title {
  color: var(--primary-lightest);
  font-size: 2em;
}
.patreon-usage__body {
  text-align: center;
  margin-top: 1rem;
}

.patreon-usage__body p {
  font-size: 1.2em;
}

.payment {
  text-align: center;
  margin-top: 2rem;
}

.payment__title {
  color: var(--primary-lightest);
  font-size: 2em;
}
.payment__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 0.5rem;
  line-height: 2rem;
}
.payment__explanation {
  font-size: 1.2em;
}
.payment__samples {
  display: flex;
  margin-top: 3rem;
}

.join-now {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.join-now__heading {
  font-size: 2rem;
  color: var(--primary-lightest);
}
.join-now__btn {
  margin-top: 2rem;
}
