.comment {
  margin: 5rem 0;
  display: flex;
  justify-content: center;
}
.comment.rtl {
  margin: 5rem 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.thumbnail {
  transition: 600ms;
  width: 12rem;
  filter: brightness(0.6);
  border-radius: 10rem;
  border: 0.5rem solid var(--primary-darkest);
  box-shadow: -2px 2px 15px 2px rgba(33,36,39,0.99);

}

.comment:hover > .comment-text{
  transition: 600ms;
  color: var(--primary-lightest);
}
.comment:hover .thumbnail {
  transition: 600ms;
  filter: brightness(1); 
}

.comment.rtl .thumbnail-container {
  flex-direction: row-reverse;
}

.thumbnail-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.linkage {
  position: relative;
  margin-right: 2rem;
  width: 5.5rem;
  height: 0.25rem;
  background-color: var(--primary-main);
}
.comment.rtl .linkage::after {
  right: auto;
  left: 0;
  transform: translate(-80%, -50%) scale(0.8);
}

.comment.rtl .linkage {
  margin: 0;
  margin-left: 2rem;
}
.linkage::after {
  content: url('../../../assets/icons/dotPrimaryMain.png');
  right: 0;

  position: absolute;
  top: 0.4rem;
  transform: translate(100%, -50%) scale(0.8);
  transform-origin: left center;
}
/* .linkage::before {
  content: url('../../../assets/icons/dotPrimaryMain.png');
  left: 0;
  position: absolute;
  top: 0.4rem;
  transform: translate(-100%, -50%) scale(0.8);
  transform-origin: left center;
} */
.comment-text {
  transition: 600ms;
  position: relative;
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.comment-text__header {
  color: var(--primary-lightest);
}
.comment-text__body {
  background: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%233B3B3BFF' stroke-width='8' stroke-dasharray='6%2c 14' stroke-dashoffset='24' stroke-linecap='square'/%3e%3c/svg%3e");
  padding: 1rem;
  margin-top: 1rem;
}
.author-info {
  direction: ltr;
  font-family: 'shabnam-light';
  font-size: 13px;
}
