.button{
  font-weight: 500;
  background-color: var(--secondary-main);
  transition: .2s all ease;
  border: 2px solid var(--secondary-main);
  padding: .6rem 2rem;
  border-radius: 50px;
  color: #fff;
  display: block;
  width: 10rem;
  margin: auto;
}

.primaryColor {
  background-color: var(--primary-main);
}

.secondaryColor {
  background-color: var(--secondary-main);
}
