.navbar {
  width: 100%;
  height: 4rem;
  display: flex;
  padding: 0 1.5rem;
  align-items: center;
  background-color: var(--primary-darkest);
}

.nav-logo {
  transform: scale(0.5);
  transform-origin: left center;
  margin-right: auto;
}

.nav-items {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 100%;
}
