.glowing-text {
  color: var(--secondary-light);
  text-shadow: 0 0 0.5rem var(--secondary-main);
}
.glowing-text.--with-hover-glow {
  transition: text-shadow 200ms ease-in-out;
}
.glowing-text.--with-hover-glow:hover {
  text-shadow: 0 0 1rem var(--secondary-main);
}
